<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDg7bWwgFyBBC9hpuDqJU0UEPDiaqd_Lns</string>
	<key>GCM_SENDER_ID</key>
	<string>31012006028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wandaDairy</string>
	<key>PROJECT_ID</key>
	<string>dairysmart-ada7c</string>
	<key>STORAGE_BUCKET</key>
	<string>dairysmart-ada7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31012006028:ios:61c1954a3073fb724f73a9</string>
</dict>
</plist>